
*{
    margin: 0;
}
/* common class start  */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.primary-color{
    color: rgb(71, 71, 71);
}
.secondary-bg{
    background-color: rgb(255, 248, 243);;
}
.title-header{
    margin-bottom: 30px;
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.title-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.btn-primary{
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    background-color: rgb(253, 110, 10);
    color: white;
    border: 1px solid rgb(253, 110, 10);
    transition: 0.3s;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: white;
    color: rgb(253, 110, 10);
}
/* common class end  */
/* header start  */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* header start  */

/* nav start  */
nav {
    margin: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
.nav-logo-span{
    color: rgb(253, 110, 10);
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding-right: 50px;
}
nav ul li a{
    text-decoration: none;
}

/* nav end  */
/* banner start  */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 0px 210px;
}
.banner-img{
    width: 584px;
}
.banner-description{
    width: 584px;
}
.banner-gretting{
    margin-bottom: 5px;
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-heading{
    margin-bottom: 20px;
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-p{
    margin-bottom: 30px;
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.btn-banner1{
    margin-right: 30px;
}
.btn-banner2{
    background-color: white;
    color: rgb(253, 110, 10);
}
.btn-banner2:hover{
    background-color:rgb(253, 110, 10);
    color: white;
}
/* banner end  */
/* main start  */
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
/* about start  */
.about{
    margin-top: 130px;
    padding: 130px 156px;
    
}
.about-div{
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about-item{
    
}
.item-pera{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.item-description{
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
/* about end  */
/* What I do section start  */
.skills{
    margin-top: 130px;
}
.skill-title-spacing{
    padding: 0 115px;
}
.skill-container{
    margin-top: 50px;
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px 33px;
    text-align: start;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}
.skill img{
    margin-bottom: 30px;
    
}
.skill-header{
    margin-bottom: 20px;
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
}
.skill-para{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}
/* What I do section end  */
/* resume start  */
.resume{
    margin-top: 130px;
}
.resume-container-box{
    margin: 83px auto 50px;
    display: flex;
    gap: 24px;
}
.resume-container{
    text-align: left;
}
.resume-title{
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
}
.experience-container{
    margin: 30px 47px 30px 0 ;
}
.experience-header{
    margin-bottom: 10px;
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
}
.experience-institute{
    margin-bottom: 20px;
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
}
.experience-description{
    padding-right: 20px;
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}
.devider{
    border: 1px solid rgb(209, 209, 209);
}
/* resume end  */
/* main end  */
